mixin preloader(ngif)
  md-progress-circular.md-accent(
  ng-if=(ngif || false)
  style="margin: 20px auto;",
  md-mode="indeterminate",
  md-diameter="30px")


mixin toolbar(appName)
  section(layout="row", flex)

    div(flex, layout="column")
      md-toolbar.md-whiteframe-2dp(class="#{appName == 'Desenv' ? 'md-accent md-hue-2' : ''}", ng-if="hasTopbar")
        .md-toolbar-tools

          span.hide-xs.hide-sm
            a(href="#") 
              img.main-logo(src="images/logo.png")

          span(flex)
          md-button.md-icon-button(ng-if="currentUser", ng-click="logout()")
            md-icon.material-icons power_settings_new




      if block
        block
